article{
    display:grid;
    grid: 1fr max-content 1fr/ 1fr 60% 1fr;
    border: 2px solid black;
    margin-top:30px;
    border-radius: 5px;
}
article div{
    padding:10px;
}
.gray-decoration{
    background: #C4C4C4;
}
.button-read{
    display: inline-flex;
    width:100%;
    justify-content: center;
}
.button-read p{
    margin-block-start: 5px;
    margin-block-end: 0em;
}