form input{
    border: 2px solid black;
    border-radius: 5px;
}
.auth-form{
    display: grid;
    justify-content: center;
}
.auth-form h1{
    display: flex;
    justify-content: center;
}
.change-sign{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
form{
    display: grid;
    justify-content: center;
}
input[type=submit]{
    margin-top:10px;
    font:inherit;
    background: #474E5E;
    color: white;
    border-radius:5px;
    border:none;
    padding:5px
}